<mat-toolbar class="bg">
    <mat-toolbar-row>
       <!-- <button mat-icon-button (click)="toggelSidebar()">
        <mat-icon>menu</mat-icon>
       </button> -->
       <span> <input matInput placeholder="search" type="search"></span>
       <div fxFlex fxLayout="row" fxLayoutAlign="flex-end">
        <ul fxLayout="row" fxLayoutGap="20px">
            <li>
                <button mat-icon-button>
                    <mat-icon> notifications</mat-icon>
                </button>
            </li>
            <li class="img">
                <img mat-card-image src="../../../../assets/261734338_5203701162977498_1022730541982373216_n.jpg" alt="Photo of a Shiba Inu">
            </li>
           
            <li>
                <button mat-icon-button>
                    <mat-icon> 
                        keyboard_arrow_down
                        </mat-icon>
                </button>
            </li>
        </ul>
       </div>
    </mat-toolbar-row>

</mat-toolbar>

