
  <div class=" message" >
    <div class="row  no-gutters justify-content-start align-items-center">
        <div class="col-3">

            <div class="example-header-image">
                <div> <img mat-card-image [src]="Message.image" alt="Photo of a Shiba Inu"></div>
               
            </div>
        </div>
        <div class="col-9">
            <div class="contant">
               <h4>{{Message.name}}</h4> 
               <p>{{Message.description}}</p>
            </div>
        </div>
    </div>
  </div>
