<div class="task ">
    <div class="row container align-items-center">
        <div class="col-md-3 col-sm-12 rectangle">
            <div class="start row container align-items-center">
                <div class="col-md-5 col-sm-12">
                    <div class="play"><span class="material-icons">
                            play_circle_filled
                        </span></div>
                </div>
                <div class="col-md-7 contant col-sm-12">
                    <div>
                        <p>Start from</p>
                        <div class="row align-items-center">
                            <div class="col-md-4"><span class="material-icons schedule">
                                    schedule
                                </span></div>
                            <div class="col-md-8"> <span class="time">9:00 am</span></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-12">
            <div>
                <p class="mt-2">Search Inspiration for project</p>
            </div>
            <div class="row align-items-center search">
                <div class="col-md-6 col-sm-12 row align-items-center">
                    <div class="col-md-2 col-sm-12"> 
                        <span class="material-icons ">
                            calendar_today
                        </span>

                    </div>
                    <div class="col-md-10">
                        <span class="link"><a>www.uistore.com</a></span>
                    </div>
                </div>
                <div class="col-md-6  col-sm-12 row align-items-center">
                 
                        <div class="col-2"> <span class="material-icons">
                                maps_ugc
                            </span>
                        </div>
                        <div class="col-10  "><span>comment</span></div>

                 
                </div>
            </div>
        </div>
        <div class="col-md-2 col-sm-12 complete">
            <p> 24% complete</p>
            <div class="progress" style="height: 5px;">
                <div class="progress-bar bg" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0"
                    aria-valuemax="100"></div>
            </div>
        </div>
        <div class="col-md-2 col-sm-12">
            <div class="row align-items-center alarm container">
                <div class="col-4">
                    <div> <span class="material-icons">
                            alarm
                        </span></div>
                </div>
                <div class="col-8">
                    <div >
                        <p class="reminder">Reminder</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>