



<div>
    <div class="row">
        <div class="col-9">
            <div>  <h1>Todays Scheudle</h1></div>
        
        </div>
        <div class="col-3 ">
           <div class="calendar row">
            <span class="material-icons  col-6">
                grid_view
                </span>
             
                <span class="material-icons col-6">
                    calendar_today
                    </span>
               
           </div>
           
        </div>
    </div>
    <div class="row text-primary">
        <div class="col-9">
          <p>30 minute call with Client</p>
        </div>
        <div class="col-3">
            <div>

                <span > + inviet</span>
           </div>
        </div>
    </div>
    <div>
        <h1> Project Discovery Call</h1>
    </div>
    <div class="row justify-content-md-center group27 container align-items-center">
        <div class="col-6">
        <div>
          <img src="../../../../assets/imgs/Group 27.svg" alt="">

        </div>
        </div>
        <div class="col-2">
            <div class="tiem">  20:66 </div>
         
        </div>
        <div class="col-2">
            <div> <button mat-icon-button aria-label="Example icon button with a vertical three dot icon">
                <mat-icon>phone</mat-icon>
              </button></div>
        </div>
        <div class="col-2">
          <div> <button mat-icon-button aria-label="Example icon button with a vertical three dot icon">
            <mat-icon>more_vert</mat-icon>
          </button></div>
        </div>
    </div>
</div>
