input {
    background-color: #E8EDF1;
    border: none;
    width:
        317px;
    height:
        40px;
   color: #232360;
   font-size: 13px;
   line-height: 16.93;
}
.title{
    color: #768396;
    font-size: 14px;
   
}