
<div class="container">
    <div class="row">
        <div class="col-10">
            <h1>New Task</h1>
        </div>
        <div class="col-2">
            <div> <button mat-icon-button aria-label="Example icon button with a vertical three dot icon">
                <mat-icon>more_horiz</mat-icon>
              </button></div>
        </div>
    </div>
    <p class="title"> Task Title</p>
    <input matInput  type="text">

    
    <div id="carouselExampleIndicators" class="carousel slide mt-5" data-ride="carousel">
      <ol class="carousel-indicators">
        <li *ngFor="let emoji of emojis; let i = index" [attr.data-target]="'#carouselExampleIndicators'" [attr.data-slide-to]="i" [class.active]="i === 0"></li>
      </ol>
      <div class="carousel-inner">
        <div *ngFor="let emoji of emojis; let i = index" class="carousel-item" [class.active]="i === 0">
          <span>{{ emoji }}</span>
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
        
</div>
