<mat-nav-list>
   
   
 
 <a mat-list-item routerLink='/contacts' routerLinkActive="list-item-active">
    <mat-icon>grid_view</mat-icon>

 </a>
 <a mat-list-item routerLink='/contacts' routerLinkActive="list-item-active">
    <mat-icon>houseboat</mat-icon>
 
 </a>
 <a mat-list-item routerLink='/contacts' routerLinkActive="list-item-active">
    <mat-icon>import_contacts</mat-icon>

 </a>
 <a mat-list-item routerLink='/contacts' routerLinkActive="list-item-active">
    <mat-icon>settings</mat-icon>
 
 </a>
 <a mat-list-item routerLink='/contacts' routerLinkActive="list-item-active">
    <mat-icon>
      send
    </mat-icon>

 </a>
 <a mat-list-item >
    <mat-icon>drive_folder_upload</mat-icon>
 
 </a>
</mat-nav-list>

